<div class="container">

    <div class="row">
        <div class="digg_pagination">
            <%#= will_paginate @posts, :container => false %>
            <%= link_to "Previous Page", posts_path(page: @page - 1) %>
            <% for page_number in 1..@number_of_pages do %>
              <%= link_to page_number, posts_path(page: page_number-1) %>
            <% end %>
            <%= link_to "Next Page", posts_path(page: @page + 1) %>
        </div>
    </div>

    <% @posts.each do |post| %>
    <div class="row">
        <div class="card mb-3">
            <img class="card-img-top" src="<%= url_for post.optimize_image(post.thumbnail, 586, 180) %>" alt="Blog Post Image Card" />
            <div class="card-body">
                <h5 class="card-title">
                    <%= link_to post.title, post %>
                </h5>
                <p class="card-text">
                    <%= post.body.to_plain_text.truncate_words(50) %>
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        <%= post.updated_at.strftime("%A, %B %e, %Y") %> by
                        <%= post.user.username %> | <%= pluralize(post.views, "View") %> | 0 comments
                    </small>
                </p>
            </div>
        </div>
    </div>
    <% end %>
</div>
