<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">My Blog</a>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- ###left section of nabar### -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to "Home", root_path, class:'nav-link' %>
        <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class:'nav-link' %>
        <!-- <a class="nav-link" href="#">Link</a> -->
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.username %>
          </a>
          <!-- ###right section of navbar### -->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
           <!--  ###users set to be admin### -->
            <% if current_user.admin %>
            <!-- <a class="dropdown-item" href="#  --><%#= new_post_path %><!--  ">New Post</a> -->
            <%= link_to "New Post", new_post_path, class:'dropdown-item' %>
            <% end %>
            <%= link_to "Account Setting", edit_user_registration_path, class:'dropdown-item'%>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign-in", new_user_session_path, class:'nav-link' %>
          <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class:'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
